.contact {
    padding: 2rem;
    width: 100%;
    box-sizing: border-box; /* Ensure padding is included in the element's total width and height */
    margin-top: 2rem; /* Add top margin to create space below the nav bar */
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 400px;
    margin: 0 auto;
}

form label {
    display: flex;
    flex-direction: column;
    text-align: left;
}

form input,
form textarea {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form button {
    padding: 0.5rem;
    border: none;
    border-radius: 4px;
    background-color: var(--primary-color);
    color: white;
    cursor: pointer;
}

form button:hover {
    background-color: var(--primary-color);
}
